@import 'variables';

header {
    background: $backround-black;
    .center-header {
        display: flex;
        padding: 20px 0 0;
        background: $backround-black;
        margin: 0 auto;
        width: 80%;
    }
    .logo {
        width: 246px;
        height: 78px;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    .desktop-menu {
        @include mobileview {
            display: none;
        }
    }
    .menu-responsivo {
        display: none;
        @include mobileview {
            display: block;
            position: relative;
            z-index: 99999;
        }
    }
}


